# Affordmed API Credentials
# Get these from the registration API response
AFFORDMED_EMAIL=
AFFORDMED_NAME=
AFFORDMED_ROLL_NO=
AFFORDMED_ACCESS_CODE=
AFFORDMED_CLIENT_ID=
AFFORDMED_CLIENT_SECRET=
# Server
PORT=5000
